
$font-fam1:Poppins, sans-serif;
$font-fam2:Montserrat, sans-serif;
$font-col1:rgba(0,0,0,0.87);

$para1Txt: #f3ab02;
$para2Txt: #464646;

$broucherTxt:#898a8a;

$TxtCl:#3c338f;

$TxtCl2:#384090;
$TxtCl3:#787878;